<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Catalogo</span>
                    </div>
                    <ul>
                        <li *ngFor="let item of data">
                            <a href="#">{{ item.nombre }}</a>
                          </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                
                <div class="hero__item set-bg">
                    <div class="hero__text">
                        <span>Alimentos Tecnofactory</span>
                        <h2>Vegetales <br />100% Organicos</h2>
                        <p>Los mejores productos de Tecnofactory</p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-productos></app-productos>

